/*!
    222Discord
    Copyright © 2017, 2019 RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// TODO: Override .theme-dark CSS variables

$sidecol: #111111; // Default #1e2124
$panelcoldark: #141414; // Default #292b2f
$panelcol: #181818; // Default #2f3136
$chatcol: #222222; // Default #36393e
$chatboxcol: #292929; // Default #424549
$highcol: #292929;

// Chat window
.theme-dark [class|=chat] {
	background-color: $chatcol;
	> [class|=content] {
		background-color: $chatcol;
	}
	[class|=messagesWrapper] {
		background-color: $chatcol;
	}
	form {
		background-color: $chatcol;
	}
	[class|=typing] {
		background-color: $chatcol;
	}
	
	> [class|=title] {
		background-color: $chatcol;
		[class|=children]::after {
			background: none;
		}
	}
	
	[class|=messagesWrapper] {
		[class|=scrollbar] {
			background-color: $chatcol !important;
			[class|=pad] {
				background-color: $chatcol !important;
			}
			[class|=track] {
				background-color: $panelcol !important;
				border-color: $chatcol !important;
			}
			[class|=thumb] {
				background-color: $sidecol !important;
				border-color: $chatcol !important;
			}
		}
	}
}

// Chat box
.theme-dark [class|=channelTextArea] {
	background-color: $chatcol;
	
	> [class|=inner] {
		background-color: $chatboxcol;
		
		> [class|=autocomplete] {
			background-color: $chatboxcol;
			
			[class^=selectorSelected] {
				background-color: $chatcol; // Default #3b3d42
			}
		}
	}
}

// Channels panel, private channels panel
.theme-dark [class*=baseLayer] [class^=sidebar] > [class^=container], .theme-dark [class|=privateChannels] {
	background-color: $panelcol;
}

// Self panel
.theme-dark [class*=baseLayer] [class^=sidebar] > [class^=panels] {
	background-color: $panelcoldark;
}

// Members panel
.theme-dark [class*=members-] {
	background-color: $panelcol;
}

// Sidebar
.theme-dark [class*=guilds] {
	background-color: $sidecol;
	
	[class|=listItem] {
		[class|=folderIconWrapper], [class|=childWrapper], [class|=circleIconButton] {
			background-color: $panelcol !important;
		}
	}
}

// Scrollers: Channels panel, private channels panel, members panel
.theme-dark [class*=baseLayer] [class^=sidebar] > [class^=container], .theme-dark [class|=privateChannels], .theme-dark [class|=membersWrap] {
	[class|=scroller] {
		[class*=wrapper][class*=modeSelected] [class|=content] {
			background-color: $highcol;
		}
		[class*=wrapper]:hover [class|=content] {
			background-color: $chatcol;
		}
	}
	
	[class|=scrollbar] {
		background-color: $panelcol !important;
		[class|=pad] {
			background-color: $panelcol !important;
		}
		[class|=thumb] {
			background-color: $chatcol !important;
		}
	}
}
