﻿/*!
    222Discord
    Copyright © 2017, 2019 RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/.theme-dark [class|=chat]{background-color:#222}.theme-dark [class|=chat]>[class|=content]{background-color:#222}.theme-dark [class|=chat] [class|=messagesWrapper]{background-color:#222}.theme-dark [class|=chat] form{background-color:#222}.theme-dark [class|=chat] [class|=typing]{background-color:#222}.theme-dark [class|=chat]>[class|=title]{background-color:#222}.theme-dark [class|=chat]>[class|=title] [class|=children]::after{background:none}.theme-dark [class|=chat] [class|=messagesWrapper] [class|=scrollbar]{background-color:#222 !important}.theme-dark [class|=chat] [class|=messagesWrapper] [class|=scrollbar] [class|=pad]{background-color:#222 !important}.theme-dark [class|=chat] [class|=messagesWrapper] [class|=scrollbar] [class|=track]{background-color:#181818 !important;border-color:#222 !important}.theme-dark [class|=chat] [class|=messagesWrapper] [class|=scrollbar] [class|=thumb]{background-color:#111 !important;border-color:#222 !important}.theme-dark [class|=channelTextArea]{background-color:#222}.theme-dark [class|=channelTextArea]>[class|=inner]{background-color:#292929}.theme-dark [class|=channelTextArea]>[class|=inner]>[class|=autocomplete]{background-color:#292929}.theme-dark [class|=channelTextArea]>[class|=inner]>[class|=autocomplete] [class^=selectorSelected]{background-color:#222}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container],.theme-dark [class|=privateChannels]{background-color:#181818}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=panels]{background-color:#141414}.theme-dark [class*=members-]{background-color:#181818}.theme-dark [class*=guilds]{background-color:#111}.theme-dark [class*=guilds] [class|=listItem] [class|=folderIconWrapper],.theme-dark [class*=guilds] [class|=listItem] [class|=childWrapper],.theme-dark [class*=guilds] [class|=listItem] [class|=circleIconButton]{background-color:#181818 !important}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container] [class|=scroller] [class*=wrapper][class*=modeSelected] [class|=content],.theme-dark [class|=privateChannels] [class|=scroller] [class*=wrapper][class*=modeSelected] [class|=content],.theme-dark [class|=membersWrap] [class|=scroller] [class*=wrapper][class*=modeSelected] [class|=content]{background-color:#292929}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container] [class|=scroller] [class*=wrapper]:hover [class|=content],.theme-dark [class|=privateChannels] [class|=scroller] [class*=wrapper]:hover [class|=content],.theme-dark [class|=membersWrap] [class|=scroller] [class*=wrapper]:hover [class|=content]{background-color:#222}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container] [class|=scrollbar],.theme-dark [class|=privateChannels] [class|=scrollbar],.theme-dark [class|=membersWrap] [class|=scrollbar]{background-color:#181818 !important}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container] [class|=scrollbar] [class|=pad],.theme-dark [class|=privateChannels] [class|=scrollbar] [class|=pad],.theme-dark [class|=membersWrap] [class|=scrollbar] [class|=pad]{background-color:#181818 !important}.theme-dark [class*=baseLayer] [class^=sidebar]>[class^=container] [class|=scrollbar] [class|=thumb],.theme-dark [class|=privateChannels] [class|=scrollbar] [class|=thumb],.theme-dark [class|=membersWrap] [class|=scrollbar] [class|=thumb]{background-color:#222 !important}
